body{
    background-color:cornsilk;
}
table{
    border-collapse: collapse;
    width: 100%;    
}

tr, td{
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid  ;
}
tr:nth-child(even){
    background-color:lightsteelblue;
}
td:hover{
    background-color: yellow;
}

ul{
    list-style: none;
    background-color: lightcoral;
    margin: 10px;
    padding: 0;
    width: 100px;
}
li a{
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: 1px solid ;
}
li a:hover{
    background-color: deepskyblue;
}

.daum{
    background-color: violet;
    color: whitesmoke;
}