body{
    background-color:cornsilk;
}

h3{
    color: red;
    font-size: 300%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.c{
    color: blue;
    font-size: 160%;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
    padding: 20px;
    margin: 50px;
}   
a:link{  color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color: pink;
}
a:hover{
    color: red;
}
a:active{
    color: yellow;
}